.feedback {

    &__wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 24px;
        align-items: center;

        &>div {
            max-width: 50%;
            width: 100%;
        }
    }

    &__descr {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        h2 {
            font-size: 36px;
            font-weight: 900;
            line-height: 140%;
        }

        p {
            color: $primary-neutral;  
            margin-bottom: 8px; 
        }

        a {
            font-size: 20px;
            font-weight: 900;
            color: $primary-black; 
            text-decoration: none;
        }
    }

    &__forms {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        input {
            height: 20px;
            padding: 8px;
        }

        button {
            padding: 8px;
            color: $primary-white;
            background: $primary-black;
            
            &:hover {
                cursor: pointer;
                color: $primary-black;
                background: $primary-white;
            }
        }
    }
}