.hero {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 24px;
        align-items: end;
    }

    @media only screen and (min-width: $mobile) and (max-width: $tablet) {
       flex-direction: column-reverse;
       width: 90%;
       height: 300px;
       row-gap: 16px;
        }

    &-action { 
    display: flex;
    column-gap: 24px;
    @media only screen and (min-width: $mobile) and (max-width: $tablet) {
        column-gap: 16px;
        margin-top: 0;  
    }

        &__item {
        padding: 16px;
        border: 4px solid $primary-black;
        border-radius: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s all;
        cursor: pointer;

        & > svg path {
            fill: $primary-black;
        }

        
            @media only screen and (min-width: $mobile) and (max-width: $tablet) {
                width: 36px;
                height: 36px;
            }
        

        &:hover {
            background: $primary-black;
                & > svg path {
                    fill: $primary-white;
                }
            }
        }
        
    }

    &-info {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        max-width: 600px;
    }

    &-title {
    span {
        font-weight: 900;

        strong {
            color: $red-500;
        }
    }
       
    }

    &-action {
        display: flex;
        column-gap: 16px;
        margin-top: 24px;
    }

    &-image {
        width: 700px;
        height: 500px;
    }
    
}

@media only screen and (min-width: $mobile) and (max-width: $tablet) {
    .hero {
        &-wrapper {
            flex-direction: column-reverse;
        }

        &-image {
            width: auto;
            height: 225px;
        }

        &-title {
            font-size: 25px;
            line-height: 35px;
        }

        &-subtitle {
            font-size: 15px;
        }

        &-action {

            margin-top: 0;

            &__item {
                width: 20px;
                height: 20px;
                padding: 8px;
            }
        
        }

        &-info {
            margin-top: 12px;
            row-gap: 16px;
        }
    }
}