.skills {
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 36px;
        align-items: center;
    }

    &_title {

        align-items: center;

        & > span {
            font-weight: 700;
        }
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 70px;
        justify-content: center;

        @media only screen and (min-width: $mobile) and (max-width: $tablet) {
           gap: 20px;

           }
    }
    
    &-item {
       width: 100px;
       height: 100px;
       padding: 24px 30px;
       border: 1px solid $primary-black;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       row-gap: 16px;
       cursor: pointer;
       font-weight: 700;

       &:hover {
        color: $primary-white;
        background-color: $primary-black;

        @media only screen and (min-width: $mobile) and (max-width: $tablet) {
         height: 80px;
         width: 80px;
        }

        svg path {
            fill: $primary-white;
        }
       }

       & > svg {
        width: 56px;
        height: 56px;
       }
    }

}

