$primary-black: #000;
$primary-neutral: #404040;
$primary-white: #fff;

$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-400: #71717a;
$zinc-500: #27272a;

$red-500: #ef4444;

$mobile: 375px;
$tablet: 768px;
